.sidepanel {
    position: absolute;
    top: 230px;
    left: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__divider_1 {
        width: 2px;
        height: 100px;
        background-color: #fff;
    }
    &__divider_2 {
        margin-top: 17px;
        width: 2px;
        height: 100px;
        background-color: #fff;
    }
    &__socials {
        margin-top: 24px;
    }
}